input {
  keyboard {
    xkb {
      layout "us"
    }
    repeat-delay 200
    repeat-rate 40
    // numlock
    }

    touchpad {
      // off
      tap
      dwt
      // dwtp
      // drag false
      // drag-lock
      natural-scroll
      accel-speed 0.5
      accel-profile "flat"
      scroll-factor 1.3
      scroll-method "two-finger"
      // scroll-button 273
      // tap-button-map "left-middle-right"
      // click-method "clickfinger"
      // left-handed
      // disabled-on-external-mouse
      // middle-emulation
    }

    mouse {
      // off
      // natural-scroll
      accel-speed 0.0
      accel-profile "flat"
      scroll-factor 1.2
      // scroll-method "no-scroll"
      // scroll-button 273
      // left-handed
      // middle-emulation
    }
}

output "eDP-1" {
  // off
  mode "1920x1080"
  scale 1.0
  transform "normal"
  // position x=1280 y=0
  variable-refresh-rate on-demand=true
}

layout {
  gaps 10
  center-focused-column "never"
  preset-column-widths {
    proportion 0.25
    // proportion 0.33333
    proportion 0.5
    // proportion 0.66667
    proportion 0.75
    proportion 1.0

    // fixed 1920
    }

    // preset-window-heights { }
    default-column-width { proportion 0.5; }
    focus-ring {
      off
      // width 3
      // active-color "#c4a7e7"
      // inactive-color "#191724"
      // active-gradient from="#80c8ff" to="#bbddff" angle=45
      // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    border {
      // off
      width 3
      active-color "#c4a7e7"
      inactive-color "#191724"
      urgent-color "#eb6f92"
      // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
      // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    shadow {
      on
      draw-behind-window true
      softness 40
      spread 1
      offset x=0 y=0
      color "#0007"
    }

    background-color "transparent"
}

spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"
spawn-at-startup "waybar"
spawn-at-startup "swaybg" "-i" "/home/neifua/Pictures/Wallpapers/MC_snow.jpg"
spawn-at-startup "dunst"
spawn-at-startup "sh" "/home/neifua/.config/swayidle/autolock.sh"
spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "swayosd-server"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
  GTK_THEME "Rosepine-Dark"
  QT_QPA_PLATFORM "wayland"
  SDL_VIDEODRIVER "wayland"
  CLUTTER_BACKEND "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

cursor {
  xcursor-theme "Adwaita"
  xcursor-size 24
  hide-when-typing
}

overview {
  zoom 0.7
  backdrop-color "#191724"
  workspace-shadow {
    // off
    softness 40
    spread 10
    offset x=0 y=0
    color "#0007"
  }
}

clipboard {
    disable-primary
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 10
        max-speed 2000
    }

    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

animations {
    // off
    slowdown 0.6
  }

// window-rule {
//   match app-id="foot"
//   default-column-width { proportion 0.5; }
//   open-floating true
// }

window-rule {
  match app-id="xdg-desktop-portal-gtk"
  default-column-width { proportion 0.6; }
  default-window-height { proportion 0.65; }
  open-floating true
}

window-rule {
  geometry-corner-radius 0
  clip-to-geometry true
  tiled-state true
  baba-is-float false
}

window-rule {
  match app-id="org.gnome.Calculator"
  open-floating true
}

// window-rule {
//   match app-id="mpv"
//   default-column-width { proportion 1.0; }
//   default-window-height { proportion 1.0; }
// }

window-rule {
  match app-id="zen"
  // match app-id="Spotify"
  match app-id="vesktop"
  match app-id="org.telegram.desktop"
  match app-id="com.obsproject.Studio"
  default-column-width { proportion 1.0; }
}

window-rule {
  match app-id="org.telegram.desktop" title="Media viewer"
  open-fullscreen false
  open-floating true
  default-column-width { proportion 0.8; }
  default-window-height { proportion 0.8; }
}

layer-rule {
  match namespace="rofi"
  match namespace="waybar"
  shadow {
    on
    draw-behind-window true
    softness 40
    spread 1
    offset x=0 y=0
    color "#0007"
    }
}

layer-rule {
    match namespace="^quickshell-overview$"
    place-within-backdrop true
}

binds {
    // Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Q repeat=false          { spawn "foot"; }
    Mod+N repeat=false          { spawn "foot" "nvim"; }
    Mod+E repeat=false          { spawn "foot" "yazi"; }
    Mod+Ctrl+E repeat=false     { spawn "nemo"; }
    Mod+Period repeat=false     { spawn "flatpak" "run" "com.tomjwatson.Emote"; }
    Mod+L repeat=false          { spawn "swaylock"; }
    Mod+Return repeat=false     { spawn "~/.config/rofi/launcher/launcher.sh"; }
    Mod+Shift+E repeat=false    { spawn "~/.config/rofi/powermenu/powermenu.sh"; }
    Alt+Shift+9 repeat=false    { spawn "~/.config/waybar/restart_waybar.sh"; }

    // XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "2%+"; }
    // XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "2%-"; }
    // XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    // XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    // XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "swayosd-client --output-volume +2 --max-volume 150"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "swayosd-client --output-volume -2 --max-volume 150"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn-sh "swayosd-client --brightness +5"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "swayosd-client --brightness -5"; }

    Mod+W repeat=false { toggle-overview; }

    Mod+C { close-window; }

    Mod+Left repeat=false         { focus-column-left; }
    Mod+Shift+Down repeat=false   { focus-window-down; }
    Mod+Shift+Up repeat=false     { focus-window-up; }
    Mod+Right repeat=false        { focus-column-right; }
    // Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    // Mod+L     { focus-column-right; }

    Mod+Ctrl+Left repeat=false    { move-column-left; }
    Mod+Ctrl+Down repeat=false    { move-window-down; }
    Mod+Ctrl+Up repeat=false      { move-window-up; }
    Mod+Ctrl+Right repeat=false   { move-column-right; }
    // Mod+Ctrl+H     { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    // Mod+Ctrl+L     { move-column-right; }

    // Mod+J          { focus-window-or-workspace-down; }
    // Mod+K          { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    // Mod+Home      { focus-column-first; }
    // Mod+End       { focus-column-last; }
    // Mod+Ctrl+Home { move-column-to-first; }
    // Mod+Ctrl+End  { move-column-to-last; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Down repeat=false   { focus-workspace-down; }
    Mod+Up repeat=false     { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    Mod+Alt+Down        { move-column-to-workspace-down; }
    Mod+Alt+Up          { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    Mod+Shift+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    // Mod+Ctrl+WheelScrollDown  cooldown-ms=150 { move-column-to-workspace-down; }
    // Mod+Ctrl+WheelScrollUp    cooldown-ms=150 { move-column-to-workspace-up; }

    // Mod+WheelScrollRight      { focus-column-right; }
    // Mod+WheelScrollLeft       { focus-column-left; }
    // Mod+Ctrl+WheelScrollRight { move-column-right; }
    // Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+WheelScrollDown      { focus-column-right; }
    Mod+WheelScrollUp        { focus-column-left; }
    // Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    // Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Alt+Tab repeat=false { focus-workspace-previous; }

    Mod+BracketLeft repeat=false        { consume-or-expel-window-left; }
    Mod+BracketRight repeat=false       { consume-or-expel-window-right; }
    Mod+Shift+BracketLeft repeat=false  { consume-window-into-column; }
    Mod+Shift+BracketRight repeat=false { expel-window-from-column; }

    Mod+R repeat=false       { switch-preset-column-width; }
    Mod+Ctrl+R repeat=false { switch-preset-window-height; }
    Mod+Shift+R repeat=false  { reset-window-height; }
    Mod+X repeat=false       { maximize-column; }
    Mod+F repeat=false       { fullscreen-window; }

    // Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+V repeat=false      { center-column; }
    Mod+Ctrl+C repeat=false { center-visible-columns; }

    Mod+Minus       { set-column-width "-10%"; }
    Mod+Equal       { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+A repeat=false { toggle-window-floating; }
    Mod+D repeat=false { switch-focus-between-floating-and-tiling; }

    // Mod+W { toggle-column-tabbed-display; }

    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Mod+Shift+S repeat=false { screenshot; }
    Print repeat=false       { screenshot-screen; }
    Alt+Print repeat=false   { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Mod+Shift+E repeat=false  { quit; }
    // Ctrl+Alt+Delete repeat=false { quit; }

    Mod+Shift+0 repeat=false { power-off-monitors; }
}

debug {
   honor-xdg-activation-with-invalid-serial
  // preview-render "screencast"
  // wait-for-frame-completion-before-queueing
}
